body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:135px;
  display:flex;
}
#u1341 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:23px;
  width:94px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1342 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:55px;
  width:796px;
  height:53px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1343 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:0.5px;
  border-style:solid;
  border-color:rgba(220, 220, 220, 1);
  border-radius:6px;
  -moz-box-shadow:0px 3px 14px rgba(0, 0, 0, 0.0470588235294118);
  -webkit-box-shadow:0px 3px 14px rgba(0, 0, 0, 0.0470588235294118);
  box-shadow:0px 3px 14px rgba(0, 0, 0, 0.0470588235294118);
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6);
  text-align:left;
  line-height:22px;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:162px;
  width:214px;
  height:50px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6);
  text-align:left;
  line-height:22px;
}
#u1345 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
  width:100%;
}
#u1345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:178px;
  width:18px;
  height:18px;
  display:flex;
}
#u1346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:0.5px;
  border-style:solid;
  border-color:rgba(220, 220, 220, 1);
  border-radius:6px;
  -moz-box-shadow:0px 3px 14px rgba(0, 0, 0, 0.0470588235294118);
  -webkit-box-shadow:0px 3px 14px rgba(0, 0, 0, 0.0470588235294118);
  box-shadow:0px 3px 14px rgba(0, 0, 0, 0.0470588235294118);
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6);
  text-align:left;
  line-height:22px;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:162px;
  width:214px;
  height:50px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6);
  text-align:left;
  line-height:22px;
}
#u1348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
  width:100%;
}
#u1348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:178px;
  width:18px;
  height:18px;
  display:flex;
}
#u1349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:0.5px;
  border-style:solid;
  border-color:rgba(220, 220, 220, 1);
  border-radius:6px;
  -moz-box-shadow:0px 3px 14px rgba(0, 0, 0, 0.0470588235294118);
  -webkit-box-shadow:0px 3px 14px rgba(0, 0, 0, 0.0470588235294118);
  box-shadow:0px 3px 14px rgba(0, 0, 0, 0.0470588235294118);
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:232px;
  width:462px;
  height:50px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
#u1351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
  width:100%;
}
#u1351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:249px;
  width:16px;
  height:16px;
  display:flex;
  opacity:0.600000024;
}
#u1353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1354_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:12px;
  height:3px;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:257px;
  width:10px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(44.9999999999999deg);
  -moz-transform:rotate(44.9999999999999deg);
  -ms-transform:rotate(44.9999999999999deg);
  transform:rotate(44.9999999999999deg);
  opacity:0.600000024;
}
#u1354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1355_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:12px;
  height:3px;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:257px;
  width:10px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
  opacity:0.600000024;
}
#u1355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:248px;
  width:18px;
  height:18px;
  display:flex;
}
#u1356 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:0.5px;
  border-style:solid;
  border-color:rgba(220, 220, 220, 1);
  border-radius:6px;
  -moz-box-shadow:0px 3px 14px rgba(0, 0, 0, 0.0470588235294118);
  -webkit-box-shadow:0px 3px 14px rgba(0, 0, 0, 0.0470588235294118);
  box-shadow:0px 3px 14px rgba(0, 0, 0, 0.0470588235294118);
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:298px;
  width:462px;
  height:50px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
#u1358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
  width:100%;
}
#u1358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:315px;
  width:16px;
  height:16px;
  display:flex;
  opacity:0.600000024;
}
#u1360 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1361_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:12px;
  height:3px;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:323px;
  width:10px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(44.9999999999999deg);
  -moz-transform:rotate(44.9999999999999deg);
  -ms-transform:rotate(44.9999999999999deg);
  transform:rotate(44.9999999999999deg);
  opacity:0.600000024;
}
#u1361 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1362_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:12px;
  height:3px;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:323px;
  width:10px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
  opacity:0.600000024;
}
#u1362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:314px;
  width:18px;
  height:18px;
  display:flex;
}
#u1363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:387px;
  width:1024px;
  height:62px;
  display:flex;
}
#u1364 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:410px;
  width:193px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1365 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:0.5px;
  border-style:solid;
  border-color:rgba(220, 220, 220, 1);
  border-radius:6px;
  -moz-box-shadow:0px 3px 14px rgba(0, 0, 0, 0.0470588235294118);
  -webkit-box-shadow:0px 3px 14px rgba(0, 0, 0, 0.0470588235294118);
  box-shadow:0px 3px 14px rgba(0, 0, 0, 0.0470588235294118);
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6);
  text-align:left;
  line-height:22px;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:469px;
  width:462px;
  height:50px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6);
  text-align:left;
  line-height:22px;
}
#u1367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
  width:100%;
}
#u1367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:485px;
  width:18px;
  height:18px;
  display:flex;
}
#u1368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:0.5px;
  border-style:solid;
  border-color:rgba(220, 220, 220, 1);
  border-radius:6px;
  -moz-box-shadow:0px 3px 14px rgba(0, 0, 0, 0.0470588235294118);
  -webkit-box-shadow:0px 3px 14px rgba(0, 0, 0, 0.0470588235294118);
  box-shadow:0px 3px 14px rgba(0, 0, 0, 0.0470588235294118);
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6);
  text-align:left;
  line-height:22px;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:539px;
  width:462px;
  height:50px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6);
  text-align:left;
  line-height:22px;
}
#u1370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
  width:100%;
}
#u1370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:556px;
  width:16px;
  height:16px;
  display:flex;
  opacity:0.600000024;
}
#u1372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1373_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:12px;
  height:3px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:564px;
  width:10px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(44.9999999999999deg);
  -moz-transform:rotate(44.9999999999999deg);
  -ms-transform:rotate(44.9999999999999deg);
  transform:rotate(44.9999999999999deg);
  opacity:0.600000024;
}
#u1373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1374_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:12px;
  height:3px;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:564px;
  width:10px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
  opacity:0.600000024;
}
#u1374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:556px;
  width:18px;
  height:18px;
  display:flex;
}
#u1375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:0.5px;
  border-style:solid;
  border-color:rgba(220, 220, 220, 1);
  border-radius:6px;
  -moz-box-shadow:0px 3px 14px rgba(0, 0, 0, 0.0470588235294118);
  -webkit-box-shadow:0px 3px 14px rgba(0, 0, 0, 0.0470588235294118);
  box-shadow:0px 3px 14px rgba(0, 0, 0, 0.0470588235294118);
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6);
  text-align:left;
  line-height:22px;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:610px;
  width:462px;
  height:62px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6);
  text-align:left;
  line-height:22px;
}
#u1377 .text {
  position:absolute;
  align-self:center;
  padding:2px 29px 2px 44px;
  box-sizing:border-box;
  width:100%;
}
#u1377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:633px;
  width:16px;
  height:16px;
  display:flex;
  opacity:0.600000024;
}
#u1379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1380_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:12px;
  height:3px;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:641px;
  width:10px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(44.9999999999999deg);
  -moz-transform:rotate(44.9999999999999deg);
  -ms-transform:rotate(44.9999999999999deg);
  transform:rotate(44.9999999999999deg);
  opacity:0.600000024;
}
#u1380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1381_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:12px;
  height:3px;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:641px;
  width:10px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
  opacity:0.600000024;
}
#u1381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:633px;
  width:18px;
  height:18px;
  display:flex;
}
#u1382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:0.5px;
  border-style:solid;
  border-color:rgba(220, 220, 220, 1);
  border-radius:6px;
  -moz-box-shadow:0px 3px 14px rgba(0, 0, 0, 0.0470588235294118);
  -webkit-box-shadow:0px 3px 14px rgba(0, 0, 0, 0.0470588235294118);
  box-shadow:0px 3px 14px rgba(0, 0, 0, 0.0470588235294118);
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6);
  text-align:left;
  line-height:22px;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:692px;
  width:462px;
  height:50px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6);
  text-align:left;
  line-height:22px;
}
#u1384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
  width:100%;
}
#u1384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:708px;
  width:18px;
  height:18px;
  display:flex;
}
#u1385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
